@import "../../styles/variables.scss";

.google_map_wraper{
    padding: 20px 0;
    & :global(.current_location_btn){
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: var(--weight_semi);
        margin-bottom: 1em;
    }

    & :global(.input_grup){
        & :global(.autocomplete-suggestions){
            padding: 10px 0;
            background-color: #f8f8f8;
            position: absolute;
            z-index: 1;
            width: 100%;

            & :global(.suggestion-item){
                padding: .3125rem .625rem;
                cursor: pointer;
                border-bottom: 1px solid #fff;
                font-size: .875rem;
                font-weight: var(--weight_medium);
                &:last-child{
                    border-bottom: 0;
                }

                &:hover{
                    color: var(--popover-foreground);
                }
            }
        }
    }
}