@import "../../../styles/variables.scss";


.logo_wrapper{
    padding: 0.5rem 0rem;
    min-width: 90px;
    margin-right: .9375rem;
    flex-grow: 0;
    flex-shrink: 0;
    @include hd(){
        min-width: 55px;
    }
    & :global(.header_logo){
        // width: 100%;
        height: auto;

        // object-fit: contain;
    }
}